body {
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
}
header {
    padding: 10vh auto;
    
}
nav {
   display: flex;
   justify-content: space-between;
   box-shadow: 0px .5px black;
   position: relative;
   top: 0;
   max-height: 12vh;
   z-index: 2;
   background-color: white;
}
nav > #leftsideNav {

   margin: 4vh 1vw 3vh 7vw;
   font-size: .9rem;
   min-width: 17vw;
   max-width: 17vw;
   min-height: 7vh;
   
}
nav > #rightsideNav {
   font-size: .9rem;
   background-color: white;
   text-align: justify;
   max-height:4vh;
   width: 85vw;
   position: relative;
   right: 0vw;
   margin: 0vh 0vw 0 4vw;

  z-index: 4;

}
#navList > li {
    
   text-align: center;
   display: block;
   border: 1px solid black;
   min-width: 10vw;
   padding: 2vh 1vh;
   margin: auto .5vw;
   position: relative;
   top: 50%;
   box-shadow: 1px 2px lightgray;
}
#navList > li:active {
   top: .5vh;
   left: .25vw;
   box-shadow: none;
}
#navList > li > a {

   text-decoration: none;
   color: black;
   text-shadow: 1px 1px lightgray;
}

#navList {
   list-style-type: none;
   min-height: 8vh;
   padding: 0;
}

#hamburger > img {
    z-index: 5;
    min-height: 6vh;
}

#dropDown > img {
    z-index: 5;
    max-height: 6vh;
}
#dropDownWrapper {
    display: none;
    
}
#mobileNav {
   display: inline;
    min-height: 6vh;
    min-width: 7vw;
   margin-right: 7vw;
    position: absolute;
    right: 0;
    top: 3vh;
    z-index: 2;
    cursor: pointer;
   
}

#headerPictureWrapper {

   min-height: 75vh;
margin: auto 7.5vw;
   z-index: 1;
}
#firstTransition {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(to top left, #990033, #006666 );
    z-index: -2;
    transform: skewY(6deg);
    transform-origin: top-right;
}
#firstSectionOverlay {
    background-color: rgba(0,0,0,.25);
    min-height: 50vh;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 75vh;
 
    z-index: -1;
    transform: skewY(6deg);
    transform-origin: top-right;
}
#headerBorder {
    
    min-height: 50vh;
    padding-right: 15vw;
    max-width: 60vw;
    z-index: 1;
}
#headerTitle {
   color: white;
   display: inline;
   font-size: 1.6em;
  
   text-shadow: 1px 1px black;
   min-width: 60vw;
   position: relative;
   
   left: 0vw;
   top: 10vh;
  
   z-index: 1;
}
#headerText {
   color: white;
   display: inline;
   font-size: 1.25rem;
   font-weight: normal;
   text-shadow: 1px 1px black;
   
   position: relative;
  
   left: 0%;

   overflow: hidden;
   top: 17.5vh;
   white-space: nowrap;
   
   z-index: 1;
}
main {
   min-height: 100vh;
   margin-bottom: 10vh;
   
}

#firstSection {

   min-height: 50vh;
}
#firstSectionWrapper {
    
    margin: auto 10vw;
}
#firstSectionGraphic {
   position: relative;
    
    max-width: 30vw;
   top: 3vh;
   left: 0vw;
}
#firstSectionTitle {
display: flex;
justify-content: space-between;
}
#firstSectionTitle > h3 {
    
   font-size: 1.5rem;
   top: 9vh;
   left: 25vw;
   position: relative;
   transform: translate(-50%, -50%);
    margin-bottom: 7vh;
   max-width: 50vw;
   text-shadow: 1px 1px lightgray;
}
@media only screen and (min-width: 1030px) {
   #firstSectionTitle > h3 {
       left: 0vw;
   }
}

#firstSectionText {
 position: relative;
   text-shadow: 1px 1px lightgray;
   font-size: 1.2rem;
   line-height: 3.5vh;
    left: 0;

}
#secondSection {

   min-height: 30vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-shadow: 1px 1px lightgray;
}
#secondSection > div > #firstGraphic {
   position: relative;
   top: 1vh;
}
#secondSection > div > img {
   max-width: 9vw;
   min-height: 7vh;
   position: relative;
   top: 1vh;
   margin: 0 auto;
  
}
#secondSection > div {
   margin: 7.5vh auto;
   min-width: 50vw;
   margin-bottom: 0;
   text-align: center;
   max-width: 50vw;
   border: 1px solid lightgray;
   border-radius: 5%;
   box-shadow: 1px 1px 3px 3px gray;
   
}
#secondSection > div > h3 {
   position: relative;
   bottom: 2vh;
}
#secondSection > div > p {
  margin: 0vh 5vw;
  min-width: 30vw;
  position: relative;
   bottom: 3.5vh;

}
#thirdSection {
    margin-top: 7.5vh;
    min-height: 50vh;
    
}
#container {
    position: relative;
    transform: rotate(180deg);
    background: #2c3e50;
    height: 30vh;
    z-index: -1;
    width: 100vw;
    top: 30vh;
}
#wave {
    
    position: absolute;
    height: 70px;
    min-width: 100%;
    background: #2c3e50;
    bottom: 0;
}
#wave::before, #wave::after {
    
content: '';
display: block;
position: absolute;
border-radius: 100% 50%;

}
#wave::before {
    width: 55%;
    height: 109%;
    background-color: white;
    right: -1.5%;
    top: 60%;

}

#wave::after {
    width: 55%;
    height: 100%;
    background-color: #2c3e50;
    left: -1.5%;
    top: 40%;
  
}
#footerContainer {
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   min-height: 30vh;
   margin-top: 0vh;

}
footer {
    min-width: 100%;
   
    overflow: hidden;
}
footer > section {
  font-size: .85rem;
   z-index: 3;
   width: 30vw;
   height: auto;
   
   
}
#leftSideFooter > div {
 margin-left: 2vw;
}
#leftSideFooter > div > h4 {
   margin: 1vh 0 auto 0;;
   color: white;
   text-shadow: 1px 1px black;
  bottom: 2vh;
   position: relative;
   left: 4vw;
   
}
#rightSideFooter > h4 {
   position: relative;
   right: 4vw;
   bottom: 4vh;
   color: white;
   text-shadow: 1px 1px black;
   max-width: 20vw;
   margin: 2vh 0;

}
#flaticon {
    max-width: 15vw;
   position: relative;
   margin-top: 7.5vh;
   bottom: 4vh;
   right: 0vw;
}
#flaticon, #flaticon > div > a {
   
   color: white;
   font-size: .7rem;
}
#footerBottom {
text-align: center;
   min-width: 50vw;
 
}
#footerBottom >  ul {
   list-style-type: none;
   color: white;
   text-shadow: 1px 1px black;
   position: relative;
  
   top: 12.5vh;
   padding: 0;
}
#footerBottom > ul > li > a {
   color: white;
   font-size: .8rem;
}
#footerBottom > ul > li {
   display: inline;
  
}
@media only screen and (min-width: 320px) and (max-width: 436px) {
  nav > #leftsideNav {
      font-size: .75rem;
      margin: 3vh 1vw auto 3vw;
  }
   nav > #rightsideNav {
       min-width: 73vw;
       top: .5vh;
       font-size: .75rem;
       margin: 0;
       position: relative;
       right: 1vw;

   }
  

   


  #firstSectionGraphic {
      max-width: 40vw;
  }
  #secondSection > div {
 
   margin-bottom: 0;
   min-width: 60vw;
   }
  
 #container {
     top: 32vh;
 }
#leftSideFooter > div > h4 {
    bottom: 0;
    font-size: .95rem;
 
}
#rightSideFooter > h4 {
    font-size: .95rem;
    bottom: 4vh;
    right: 3vw;
   display: inline;
   
}
#flaticon {
    bottom: 3vh;
  
    min-width: 25vw;
   
}
#footerBottom {
   margin: 0 auto;
   position: relative;
  
   
   
 
}
#footerBottom > ul > li > a {
    font-size: .7rem;
    
}
}
@media only screen and (max-width: 967px) {
    nav > #rightsideNav > #listItems {
        display: none;
        position: relative;
        top: 10vh;
    }
    #navList > li {
        font-size: 1rem;
        margin-bottom: 4vh;
        padding: 3vh 1vh;
       
    }
}
@media only screen and (min-width: 968px) {
  #navList > li {
      display: inline-block;
  }
  #mobileNav {
      display: none;
  }
}
