 body {
     margin: 0;
     
 }
header {
     padding: 10vh auto;
     box-shadow: 2px 2px gray;
     
 }
nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px .5px black;
    position: relative;
    top: 0;
    min-height: 10vh;

}
 nav > #leftsideNav {
    
    margin: 5vh 1vw 5vh 2vw;
    font-size: .725rem;
    min-width: 20vw;
     
}

nav > #rightsideNav {
    font-size: .8rem;
   min-width: 70vw;
   
position: relative;
right: 2vw;
    margin: 4vh 1vw 0 4vw;
}
#navList > li {
    display: inline;
    border: 1px solid black;
    padding: 1.5vh 1.5vw;
    margin: auto .5vw;
    position: relative;
    top: 2.5vh;
    box-shadow: 2.5px 5px lightgray;
}
#navList > li:active {
    top: 3vh;
    left: .25vw;
    box-shadow: none;
}
#navList > li > a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px lightgray;
}
#navList {
    list-style-type: none;
  
    
    min-height: 8vh;
    padding: 0;
}
#headerOverlay {
    background-color: rgba(0,0,0,.25);
    min-height: 50vh;
   
   top: 0;
   left: 0;

    z-index: 2;
}
#headerPictureWrapper {
    background-image: linear-gradient(to top left, #990033, #006666 );
    min-height: 50vh;

    z-index: 1;
}
#headerTitle {
    color: white;
    display: inline;
    font-size: 1.75em;
    font-family: garamond;
    text-shadow: 1px 1px black;
    min-width: 60vw;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 35vw;
    top: 25.5vh;
    z-index: 3;
}
#headerText {
    color: white;
    display: inline;
    font-size: 1.5rem;
    font-family: garamond;
    text-shadow: 1px 1px black;
    
    position: absolute;
    transform: translate(-50%, -50%);
    left: 46vw;
 
    overflow: hidden;
    top: 40vh;
    white-space: nowrap;
    
    z-index: 3;
}
main {
    min-height: 100vh;
    margin-bottom: 12.5vh;
    
}
#firstSection {
   
    min-height: 50vh;
}
#firstSectionTitle {
display: flex;
justify-content: flex-end;
}
#firstSectionTitle > h3 {
    font-size: 1.75rem;
    top: 9vh;
    left: 20vw;
    position: relative;
    transform: translate(-50%, -50%);
    
    max-width: 50vw;
    text-shadow: 1px 1px lightgray;
}
@media only screen and (min-width: 1030px) {
    #firstSectionTitle > h3 {
        left: 0vw;
    }
}
#firstGraphic {
    position: relative;
    top: 5vh;
    left: 0vw;
    transform: translate(50%, -50%);
}
#firstSectionText {
  
    text-shadow: 1px 1px lightgray;
    font-size: 1.25rem;
    line-height: 3.5vh;
   margin: 0 12.5vw;

}
#secondSection {
  
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px lightgray;
}
#secondSection > img {
      max-width: 9vw;
    min-height: 7vh;

    margin: 0 auto;
   
}
#secondSection > div {
  max-width: 75vw;
  
    text-align: center;
    margin-top: 7.5vh;
    border: 1px solid lightgray;
    border-radius: 5%;
    box-shadow: 1px 1px 3px 3px gray;
    
}
#secondSection > div > h3 {
    position: relative;
    bottom: 2vh;
}
#secondSection > div > p {
   margin: 0vh 5vw;
   min-width: 30vw;
   position: relative;
    bottom: 3.5vh;
  

}
#secondSection > div > #firstGraphic, #secondGraphic, #thirdGraphic {

    max-width: 9vw;
    min-height: 7vh;

    margin: 0 auto;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 15vh;
    margin-top: 0vh;
    background: rgba(50,50,50,.85);
}
footer > section {
   font-size: .85rem;
    z-index: 3;
    width: 30vw;
    height: auto;
}
#leftSideFooter > div {
  margin-left: 2vw;
}
#leftSideFooter > div > h4 {
    margin: auto 0;
    color: white;
    text-shadow: 1px 1px black;
    transform: translate(-50%, -50%);
position: absolute;
left: 15vw;
}
#rightSideFooter > h4 {
transform: translate(-50%, -50%);
position: absolute;
left: 80vw;

    color: white;
    text-shadow: 1px 1px black;
    min-width: 25vw;
    margin: auto 0;

}

#footerBottom {
 text-align: center;
    min-width: 50vw;
  
}
#footerBottom >  ul {
    list-style-type: none;
    color: white;
    text-shadow: 1px 1px black;
    position: relative;
   
    top: 5vh;
    padding: 0;
}
#footerBottom > ul > li > a {
    color: white;
    font-size: .8rem;
}
#footerBottom > ul > li {
    display: inline;
    font-size: .9rem;
    
    
}
